@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .print, .print *{
        display: block;
    }
    .hrBlack{
        color:red !important;
        background-color:red !important;
    }
    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .pd-l-5 {
        padding-left: 5px;
    }


}

.shop_filter input[type='radio']{
    opacity: 0;
}
.shop_logo  {
    width: 50px;
    height: auto;
}